{form insertTaskForm, class => "ajax"}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {label name /}
                {input name, class => 'form-control'}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {label date /}
                {input date, class => 'form-control datepicker'}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {label category /}
                {input category, class => 'form-control'}
            </div>
        </div>
        <div class="col-md-2">
            <br/>
            {input submit, class => 'btn btn-primary'}
        </div>
    </div>
{/form}
