{block content}
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success" data-toggle="modal" data-target="#insertTaskGroupModal">Create task group</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {snippet task-groups}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr n:foreach="$taskGroups as $taskGroup">
                            <td>{$taskGroup['id']}</td>
                            <td>
                                <a href="{link taskGroup, $taskGroup['id']}">{$taskGroup['name']}</a>
                            </td>
                            <td>
                                <a href="{link deleteTaskGroup! $taskGroup['id']}"
                                   class="btn btn-danger btn-xs ajax"
                                   data-nette-confirm="modal"
                                   data-nette-confirm-title="Confirm dialog"
                                   data-nette-confirm-text="Delete task group?"
                                   data-nette-confirm-ok-class="btn-danger"
                                   data-nette-confirm-ok-text="Yes"
                                   data-nette-confirm-cancel-class="btn-default"
                                   data-nette-confirm-cancel-text="No"
                                >
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {/snippet}
        </div>
    </div>

    {control insertTaskGroupModal}
{/block}

{block scripts}
    {include parent}
{/block}

{block head}

{/block}
