{block content}
    {control insertTaskForm}
    <div class="row">
        <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control search" id="filter" type="text" placeholder="Search"/>

                </div>
                <ul class="list-group list" id="tasks-list">
                    {snippet tasks}
                        {foreach $tasks as $task}
                            <li class="list-group-item">
                                {if $task['completed'] == 1}
                                    <input value="{$task['id']}" type="checkbox" checked="checked" />
                                {else}
                                    <input value="{$task['id']}" type="checkbox"/>
                                {/if}
                                <span class="name">{$task['name']}</span>
                                <span class="label label-info date">{$task['date']|date:'d.m.Y'}</span>
                                <a href="{link deleteTask! $task['id']}"
                                   class="btn btn-danger btn-xs ajax"
                                   data-nette-confirm="modal"
                                   data-nette-confirm-title="Confirm dialog"
                                   data-nette-confirm-text="Delete task?"
                                   data-nette-confirm-ok-class="btn-danger"
                                   data-nette-confirm-ok-text="Yes"
                                   data-nette-confirm-cancel-class="btn-default"
                                   data-nette-confirm-cancel-text="No"
                                >
                                    Delete
                                </a>
                                <span class="label label-default label-right">{$task['category']}</span>
                            </li>
                        {/foreach}
                    {/snippet}
                </ul>
        </div>
    </div>
{/block}

{block scripts}
    {include parent}
    <script>
        $('input').on('ifChecked', function(event){
            $.nette.ajax({
                url: {link checkTask!},
                data: {
                    'idTask': $(this).val()
                }
            });
        });
        $('input').on('ifUnchecked', function(event){
            $.nette.ajax({
                url: {link unCheckTask!},
                data: {
                    'idTask': $(this).val()
                }
            });
        });

        var input = document.getElementById('filter');
        input.onkeyup = function () {
            var filter = input.value.toUpperCase();
            var list = document.getElementById('tasks-list');
            var lis = list.getElementsByTagName('li');
            for (var i = 0; i < lis.length; i++) {
                var name = lis[i].getElementsByClassName('name')[0].innerHTML;
                if (name.toUpperCase().indexOf(filter) == -1) {
                    lis[i].style.display = 'none';
                } else {
                    lis[i].style.display = 'block';
                }
            }
        };
        $.nette.ext('ajax', {
            success: function(payload) {
                // reinitialize switches
                $('input').iCheck({
                    checkboxClass: 'icheckbox_minimal',
                    radioClass: 'iradio_minimal',
                    increaseArea: '20%' // optional
                });
            }
        });
    </script>
{/block}

{block head}

{/block}
