<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{ifset title}{include title|striptags} | {/ifset}Quicktask</title>

    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">

    <link href="{$basePath}/bower-plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/bower-plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="{$basePath}/bower-plugins/iCheck-wnd/skins/all.css" rel="stylesheet">
    {block head}{/block}
</head>

<body role="document" style="padding-top: 70px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{link Task:}">Quicktask</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container theme-showcase">
        <div class="row">
            <div class="col-md-3" role="complementary">
                <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
                    <ul class="nav bs-docs-sidenav">
                        <li class="">
                            <a href="{link Task:}">Task groups</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-9" role="main">
                {foreach $flashes as $flash}
                    <div class="alert alert-{$flash->type}" role="alert">
                        {$flash->message}
                    </div>
                {/foreach}

                {include content}
            </div>
        </div>
    </div>

    {block scripts}
        <script src="{$basePath}/bower-plugins/jquery/dist/jquery.min.js"></script>
        <script src="{$basePath}/bower-plugins/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{$basePath}/bower-plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="{$basePath}/bower-plugins/iCheck-wnd/icheck.min.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script src="{$basePath}/js/live-form-validation.js"></script>
        <script src="{$basePath}/js/nette.ajax.confirm.js"></script>
        <script src="{$basePath}/js/main.js"></script>
    {/block}
</body>
</html>
